@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background: rgb(46,44,77);
background: linear-gradient(45deg, rgba(46,44,77,1) 0%, rgba(31,27,78,1) 100%);
}
#conthead{
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    justify-content: space-around;
    align-items: flex-end;
}
.headerlist{
    margin-top: 100px;
    color: #34ebe8;
    border: 4px solid #34ebe8;
    padding: 0.15em;
    text-decoration: none;
    font-size: 20pt;
    font-family: 'Montserrat', sans-serif;
}
.headerlist:hover{
        color:#98a3a2;
        border: 4px solid rgb(46,44,77);
    animation: dimmer 1s ease;
}
@keyframes dimmer {
    0% {
        color: #34ebe8;
        border: 4px solid #34ebe8;
    }
    100% {
        border: 4px solid rgb(46,44,77);
        color:#98a3a2;
    }
}
#avatar,#sadavatar{
    background-color: #34ebe8;
    border-radius: 50%;
    box-shadow: 0 8px 12px 0 #34ebe8;
    animation: bounce 2s linear infinite;
}
#sadavatar{
    display: none;
}
#imgwrapper:hover #avatar{
    display: none;
}
#imgwrapper:hover #sadavatar{
    display: inline-block;
    animation: sadcolor 2s ease forwards;
}
@keyframes bounce {
    0% {transform: translateY(0);}
    50% {
        transform: translateY(10px);
        box-shadow: 0 15px 20px 0 #34ebe8;
    }
    100% {transform: translateY(0);}
}
@keyframes sadcolor {
    0% {
        box-shadow: 0 8px 12px 0 #34ebe8;
        background-color: #34ebe8;
    }
    100% {
        box-shadow: 0 8px 12px 0 #98a3a2;
        background-color: #98a3a2;
    }
}
header{
    padding-bottom: 1.5em;
    border-bottom: 2px solid #34ebe8;
    background: inherit;
    z-index: 1;
}
#aboutme{
    padding: 7em 0;
    display: flex;
    justify-content: center;    
    border-bottom: 2px solid #34ebe8;
}

#aboutme div:nth-child(1){
    color: #ebebeb;
    flex: 20%;
    align-self: center;
    text-align: center;
}

#myimg{
    position: relative;
    animation: showpic 2s linear forwards;
}

@keyframes showpic {
    0% {
        left: -170px;
        transform: rotate(340deg) scale(0.1);
    } 
    100% {
        transform: rotate(358deg);
        box-shadow: -10px 10px 7px 2px #34ebe8;
        left: 25%;
    }
}
#aboutme div:nth-child(2){
    flex: 35%;
    color: #ebebeb;
    font-size: 18pt;
    font-family: 'Open Sans', sans-serif;
}
#myname{
    background: linear-gradient(to right, #4d4d4d 0, #34ebe8 30%, #4d4d4d 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 5s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    font-weight: 600;
    font-size: 28pt;
    text-decoration:wavy;
    white-space: nowrap;
}
@keyframes shine {
    0% {background-position: 0;}
    60% {background-position: 500px;}
}

.sticky{
    position: sticky;
    top: 0;
    width: 100%;
}
.sticky + main{
    padding-top: 90px;
}
#projects{
    display: flex;
    padding: 2em 0;
    max-height: 496px;
    border-bottom: 2px solid #34ebe8;
}
#projects a{
    color: #98a3a2;
    font-size: 24pt;
}
#projects a:hover{
    color: #34ebe8;
}
.tab{
    display: flex;
    flex-flow: column;
    flex: 0.25;
}

#contwrapper{
    flex: 1;
}
.tablink{
    display: block;
    background-color: inherit;
    color: #34ebe8;
    padding: 0.65em 1em;
    width: 100%;
    border: none;
    outline: none;
    text-align: right;
    cursor: pointer;
    font-size: 20pt;
}
.tablink:hover{
    background-color: #4d4d4d;
}
.tabcontent{
    display: none;
    color: #ebebeb;
    font-size: 18pt;
    flex-flow: column wrap;
    row-gap: 1em;
    font-family: 'Open Sans', sans-serif;
    padding-left: 1em;
}
.tabcontent a{
    padding-left: 0.1em;
}
#subsort{
    display: flex;
}
#projtitle{
    color: #34ebe8;
    font-family: 'Montserrat', sans-serif;
    font-size: 20pt;
    padding-top: 1em;
}
/*.imagecontainer{
    display: flex;
    column-gap: 5px;
}*/
.pagepreview{
    width: 30%;
}
.shawpreview{
    width: 20%;
}
.skills{
    display: flex;
    flex-flow: row wrap;
    color: #ebebeb;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 1em 0em;
}
.hoverblue{
    background: linear-gradient(to right, #34ebe8, #34ebe8 50%, #ebebeb 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;        
    font-family: 'Montserrat', sans-serif;
    font-size: 20pt;
}
.hoverblue:hover{
    background-position: 0 100%;
    transform:  skewX(-15deg);
}
.skillcontainer{
    border-bottom: 2px solid #34ebe8;
}
.contactcontainer{
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #ebebeb;
    padding-bottom: 2em;
    border-bottom: 2px solid #34EBE8;
}
.contactcontainer .hoverblue{
    width: 50%;
    margin: 0 auto;
}
.socialicons{
    text-align: center;
    font-size: 30pt;
    padding-bottom: 0.2em;
}
.socialicons a{
    padding-right: 0.2em;
    color: #ebebeb;
    text-decoration: none;
}
.socialicons a:hover{
    color: #34ebe8;
}

.contactcontainer form{
    margin: 0 auto;
    max-width: 50%;
}
input[type=text]{
    width: 85.5%;
    padding: 0.5em 0;
    background: #434070;
    color: #ebebeb;
    border: none;
    margin: 1em 0.2em;
    font-size: 12pt;
}
input[type=textarea]{
    width: 82.5%;
    height: 5em;
    background: #434070;
    color: #ebebeb;
    border: none;
    font-size: 12pt;
    resize: none;
    text-align: justify;
    white-space: pre-line;
    -moz-text-align-last: left;
    text-align-last: left;
}
.or{
    margin: 1em 0;    
}
legend{    
    color: #34ebe8;
}
fieldset{
    border: 2px solid #34ebe8;
}
input[type=submit]{
    border: none;
    padding: 1em 2em;
    margin: 1em 0;
    background: #34ebe8;
    cursor: pointer;
}
footer{
    font-family: 'Open Sans', sans-serif;
    color: #ebebeb;
    font-size: 14pt;
    text-align: center;
}

/*Media queries below*/
@media only screen and (max-width: 560px){
    .headerlist{
        font-size: 10pt;
        border: 1px solid;
        padding: none;
        margin: none;
    }
    #imgwrapper,#sadavatar,#avatar{
        width: 100%;
        flex: 0.3;
        height: 50%;
    }
    header{
        padding-bottom: 1em;
    }
    .headerlist:hover{
        color:#98a3a2;
        border: 1px solid rgb(46,44,77);
    }
    @keyframes dimmer {
        0% {
            border: 1px solid #34ebe8;
        }
        100% {
            border: 1px solid rgb(46,44,77);
        }
    }
    @keyframes sadcolor {
        0% {
            box-shadow: 0 8px 6px 1px #34ebe8;
        }
        100% {
            box-shadow: 0 8px 6px 1px #98a3a2;
            background: #98a3a2 ;
        }
    }
    @keyframes bounce {
        0% {transform: translateY(0);}
        50% {
            transform: translateY(10px);
            box-shadow: 0 5px 10px 0 #34ebe8;
        }
        100% {transform: translateY(0);}
    }
    #aboutme{
        padding: 1em;
        flex-flow: column wrap;
    }
    #myimg{
        animation: smallimg 2s forwards;
        width: 40%;
        padding-bottom: 1em;
    }
    @keyframes smallimg {
        0% {
            transform: scale(0.1) rotate(90deg);
            filter: grayscale(100%);
        }
        100% {
            box-shadow: 8px 5px 11px 3px #34EBE8;
        }
    }
}